.messages {
  height: calc(95vh - 85px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-top: 65px;
}

.mychat {
  height: 80vh;
}
